img{
  user-select: none;
  -webkit-user-drag: none;
}


.contact-page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  width: 80%;
  height: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  text-transform: uppercase;
  transition: 0.5s ease;
}

.contact-page h1 {
  letter-spacing: 5px;
}

.contact-form{
  width: 30%;
  transition: 0.5s ease;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.form-group input, textarea{
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 3px 4px 5px 0.5px rgba(0, 0, 0, 0.337), 2px 2px 5px 0.5px rgba(0, 0, 0, 0.209) inset;
}

.form-group input{
  height: 30px;
}

.contact-btn{
  outline: none;
  border: none;
  margin-left: 10px;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgb(240, 186, 135);
  box-shadow: 4px 4px 10px 2px rgb(168, 168, 168), 4px 4px 10px 2px rgb(233, 192, 142) inset;
}