
img{
  user-select: none;
  -webkit-user-drag: none;
}



.gallery-page {
  display: flex;
  margin-top: 80px;
}


.gallery-page img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-page img:hover{
  transform: scale(0.95);
}


.gallery-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  background-color: #726f6f;
  color: #dbdada;
  gap: 10px;
}


.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 340px;
  width: 60%;
  gap: 0;
  align-content: start;
}